APP_NAME=MoabomReverb
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://realtime.mek360.com

LOG_CHANNEL=stderr
LOG_LEVEL=info

CACHE_STORE=file
SESSION_DRIVER=array
QUEUE_CONNECTION=sync

BROADCAST_CONNECTION=reverb

REVERB_APP_ID=moabom-laravel
REVERB_APP_KEY=moabom-laravel-key
REVERB_APP_SECRET=

REVERB_HOST=realtime.mek360.com
REVERB_PORT=443
REVERB_SCHEME=https

REVERB_SERVER=reverb
REVERB_SERVER_HOST=0.0.0.0
REVERB_SERVER_PORT=6001

REVERB_SCALING_ENABLED=true
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=null
REDIS_DB=0
